header
{

}

body{
	height: 100%;
	min-height: 100%;
	position:relative;
}

footer{
	text-align: center;
	bottom: 0;
	position: absolute;
	clear: both;
	width: 100%;
    z-index: 10;
}	

.bg-lightgray /*couleur footer */
{
    background-color:LightGray;
}

.demo-card-square.mdl-card {
  width: 100%;
  height: 320px;
  margin-bottom: 25px;
  padding: 0;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background:
	 bottom;


#carousel_slide{
	margin-bottom: 25px;
}

#body-login{
	background:url("http://le-cartel.fr/heberg/background_login.jpg") center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#page-form-content{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;	
}

#form_login{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.contact{	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.form_contact{
	width: 35%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;
	align-content: center;
}

#imgback{
	z-index: 0;
	position: relative;
}